.clients-section {
}

.clients-section__contanier {
  display: flex;
  flex-direction: column;
}

.clients-section__head {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
}

.clients-section__head--bottom {
  margin-bottom: 50px;
}

.clients-section__list {
  display: flex;
  justify-content: space-between;
}

.clients-section__icon {
  display: flex;
  fill: var(--vector-team-color);
  transition: var(--transition);
  transition-property: fill;
}

.clients-section__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: var(--transition);
  transition-property: border-color;
}

.clients-section__item--right {
  margin-right: 30px;
}

.clients-section__item:active,
.clients-section__item:hover,
.clients-section__item:focus {
  border-color: var(--brand-main-color);
  cursor: pointer;
}

.clients-section__item:active svg,
.clients-section__item:hover svg,
.clients-section__item:focus svg {
  fill: var(--brand-main-color);
  cursor: pointer;
}
