.navigation {
  display: flex;
}

.navigation__item {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-main-color);
}

.navigation__item--right {
  margin-right: 46px;
}

.navigation__link {
  position: relative;
  transition: var(--transition);
  transition-property: color;
}

.navigation__link--active,
.navigation__link:active,
.navigation__link:focus,
.navigation__link:hover {
  color: var(--brand-main-color);
}

.navigation__link--active::after {
  content: '';
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  border-top: 4px solid var(--brand-main-color);
  border-radius: 2px;
  width: 100%;
  top: 46px;
  left: 0;
  display: block;
  position: absolute;
}
